body {
        width: 100%;
        height: 100vh;
        margin: 0px;
        background-color: E8E7E8;
    }

nav{
    background-color: #8ED588;
}
nav a{
    color: black !important;
}
.transparent {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* LOGIN */

.login-body{
     width: 100%;
     height: 100vh;
     margin: 0px;
     background-image: url('../img/cars.png');
     background-size: cover;
}
.login-wrapper {
    margin-top: 50px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-wrapper .card{
    background: rgba(0, 0, 0, .8);
}
.login-wrapper label{
    font-size: 16px;
    color: #ccc;
}
.login-wrapper input{
    font-size: 20px;
    color: #fff;
}
.login-wrapper input[type=submit]:hover{
    background-color: #2E7D32 !important;
}
.login-wrapper .card-action{
    text-align: center;
}
/* INDEX */

/* slider */
.slider .indicators {
    bottom: 45px;
    z-index: 2;
}

/* slider indicators */
.slider .indicators .indicator-item {
    margin: 0 5px;
   
}
.caption h2{
    margin-bottom: 30px !important;
}
#hero .btn{
    background-color: #8ED588;
    color: black;
}

/* ABOUT SECTION */
.section h3{
    width: 200px;
    margin: 0 auto;
    border-bottom: 3px solid black

}

